body{
    background: #e0c681;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.colOne{
    background: lightgoldenrodyellow;
    padding: 20px;
    border-radius: 20px;
}
label{
    color: #491217;
    font-size: 18px;
}
.topMenu{
    background: #bd2130;
}